/*estilos-predeterminados*/
:root {
    --color-blue-medium: #8fe2e4;
    --color-purple: #632ce7;
    --color-gray-mediem: #f8f9fa;
    --color-yellow: #fac32c;
    --color-green: #4DC5B3;
   }
  *{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 0.080rem;
  }
  body{
    background-color: var(--color-gray-mediem);
  }
  
  /*estilos-miembros*/
  
  .members{
    display: grid;
    justify-content: space-around;
    background-color: #f8fff7;
    padding: 3rem;
    width: 95%;
    grid-template-columns: 55% 55%;
    margin: 0 auto;
  }
  .members__titulo{
    font-size: 2.2rem;
    padding: 0.6rem 4rem 4rem 5rem;
    text-align: center;
  }
  
  .members__titulo h1{
    font-weight: 400;
  }
  
  .members__cards__list article{
    width: 14rem;
    height: 10rem;
    font-weight: lighter;
    border-radius: 3%;
    margin: 0.6rem 0rem 0.7rem 0rem;
    padding: 0.5rem 0.6rem 0.1rem 0.6rem;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .members__cards__list i{
    padding: 0.2rem 0.4rem 0.4rem 0.4rem;
    margin: 0.5rem 0rem 1rem 0rem;
    font-size: 1.7rem;
    border-radius: 10%;
    color: #FFFFFF;
    background-color: transparent;
  }
  
  .members__cards__list article p{
    font-size: 1.2rem;
    font-weight: bolder;
    color: #ffffff;
    padding: 0.8rem 0rem 0.8rem 0rem;
  }
  
  .members__cards__list article:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
    transform: scale(1.01);
  }
  
  .members__cards__list{
    display: flex;
    margin-right: 1rem;
    flex-direction: column;
    justify-content: space-around;
    margin: 0rem 0rem 1.5rem 1rem;
    border: 2px solid gray;
    border-radius: 10px;
  }
  
  .members__cards__list h3{
    font-size: 1.3rem;
    font-weight: 400;
  }
  /*colores-de-card*/
  .members__cards__list .card-1{
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  .members__cards__list .card-2{
    background: radial-gradient(#60efbc, #58d5c9);
  }
  .members__cards__list .card-3{
    background: radial-gradient(#76b2fe, #b69efe);
  }
  .members__cards__list .card-4{
    width: 17rem;
    height: 29rem;
    background: radial-gradient(#f588d8, #c0a3e5);
    padding: 2rem;
  }

.members__cards__list .card-4--variable {
    width: 17rem;
    height: 22rem;
    background: radial-gradient(#f588d8, #c0a3e5);
    padding: 2rem;
  }
  
  
  .members__cards__list .card-5{
    width: 29rem;
    height: 29rem;
    font-weight: lighter;
    border-radius: 3%;
    margin: 0.6rem 0rem 0.7rem 0rem;
    padding: 0.5rem 0.6rem 0.1rem 0.6rem;
    box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
    transition: all 0.2s;
    background: radial-gradient(#fc7c5c, #f39e9e);
}

.members__cards__list .card-5--variable {
  width: 29rem;
    height: 22rem;
    font-weight: lighter;
    border-radius: 3%;
    margin: 0.6rem 0rem 0.7rem 0rem;
    padding: 0.5rem 0.6rem 0.1rem 0.6rem;
    box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
    transition: all 0.2s;
    background: radial-gradient(#fc7c5c, #f39e9e);
}

  .card_group1 {
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;
    gap: 0.3rem;
  }

  .card_group2 {
    display:flex;
    gap: .3rem; 
    padding: 0 10px;
  }
