@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');
*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
.header{
      font-family: 'Roboto',
      sans-serif;
      background: rgb(229, 231, 245);
      border-radius: 10px;
      box-shadow: 2px 2px 8px #000;
      padding: 2px;
      margin: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-evenly;
}
.card{
     background: rgb(172, 226, 222);
     border-radius: 10px;
     box-shadow: 2px 2px 8px #000;

}
.container_card{
     background: rgb(52, 140, 217);
     border-radius: 10px;
     box-shadow: 2px 2px 8px #000;
     padding: .5rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 45%;
     color: #0e0d0d;
     margin: .5rem;
    
}
.container_card h1{
    color: #0e0d0d;
    top :3px;
    border-bottom: 1px solid rgb(38, 36, 68)
}
.personal_info{
    margin-top:2rem;
    color: darkblue;
    border-bottom: 1px solid rgb(38, 36, 68);
    font-size:18px;

}
.personal_text{
    margin-top:2rem;
    font-size: 26px;
    padding: 1rem;
    color: rgb(16, 15, 21);
    align-self: center;
}
.personal_text h5{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}